@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.header-section{
    background-color: lightblue;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.details-container{
    margin-top: 10px;
    margin-left: 20px;
}
.detailsBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 20px;
}
.textInput{
    width: 300px;
}
.btnEl{
    width: 100px;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}
.listItemsContainer{
    list-style-type: none;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.listItem{
    margin-right: 10px;
    margin-top: 10px;
}
.contactBox{
    display: flex;
    justify-content: space-between;
    border: solid 2px black;
    width: 300px;
    padding: 10px;
}
.displayDelete{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bgStyle{
    background-color: lightyellow;
}
.buttonContainer{
    margin-left: 20px;
}